<!DOCTYPE html>
<html>
<head>
    <title>NodeJS Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <form action="/">
        <table>
            <tr>
                <td>Hola Lenin</td>
            </tr>
            <tr>
                <td>
                    {nombre}
                </td>
                <td>
                    <input name="Nombre" required type="Text" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>